BussinessSolution/Service References/BS_SalesService/SalesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:36659/SalesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BussinessSolutionServiceBLL" />
  <xs:element name="GetNextInvoiceInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextInvoiceInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BussinessSolutionServiceBLL" minOccurs="0" name="GetNextInvoiceInfoResult" nillable="true" type="q1:NextInvoiceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrUpdateSalesInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BussinessSolutionServiceBLL" minOccurs="0" name="salesInvoiceInfo" nillable="true" type="q2:SalesInvoiceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrUpdateSalesInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertOrUpdateSalesInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleHoldList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleHoldListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BussinessSolutionServiceBLL" minOccurs="0" name="GetSaleHoldListResult" nillable="true" type="q3:ArrayOfSalesInvoiceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>