BussinessSolution/Service References/BS_SalesService/SalesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SalesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:36659/SalesService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:36659/SalesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:36659/SalesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BussinessSolutionServiceBLL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISalesService_GetNextInvoiceInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextInvoiceInfo" />
  </wsdl:message>
  <wsdl:message name="ISalesService_GetNextInvoiceInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextInvoiceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesService_InsertOrUpdateSalesInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrUpdateSalesInfo" />
  </wsdl:message>
  <wsdl:message name="ISalesService_InsertOrUpdateSalesInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrUpdateSalesInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesService_GetSaleHoldList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSaleHoldList" />
  </wsdl:message>
  <wsdl:message name="ISalesService_GetSaleHoldList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSaleHoldListResponse" />
  </wsdl:message>
  <wsdl:portType name="ISalesService">
    <wsdl:operation name="GetNextInvoiceInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesService/GetNextInvoiceInfo" message="tns:ISalesService_GetNextInvoiceInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesService/GetNextInvoiceInfoResponse" message="tns:ISalesService_GetNextInvoiceInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertOrUpdateSalesInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesService/InsertOrUpdateSalesInfo" message="tns:ISalesService_InsertOrUpdateSalesInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesService/InsertOrUpdateSalesInfoResponse" message="tns:ISalesService_InsertOrUpdateSalesInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSaleHoldList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesService/GetSaleHoldList" message="tns:ISalesService_GetSaleHoldList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesService/GetSaleHoldListResponse" message="tns:ISalesService_GetSaleHoldList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISalesService" type="tns:ISalesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNextInvoiceInfo">
      <soap:operation soapAction="http://tempuri.org/ISalesService/GetNextInvoiceInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertOrUpdateSalesInfo">
      <soap:operation soapAction="http://tempuri.org/ISalesService/InsertOrUpdateSalesInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaleHoldList">
      <soap:operation soapAction="http://tempuri.org/ISalesService/GetSaleHoldList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalesService">
    <wsdl:port name="BasicHttpBinding_ISalesService" binding="tns:BasicHttpBinding_ISalesService">
      <soap:address location="http://localhost:36659/SalesService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>