BussinessSolution/Service References/BS_PurchaseService/PurchaseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PurchaseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:36659/PurchaseService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:36659/PurchaseService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:36659/PurchaseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BussinessSolutionServiceBLL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPurchaseService_GetProductInfoByNameOrCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductInfoByNameOrCode" />
  </wsdl:message>
  <wsdl:message name="IPurchaseService_GetProductInfoByNameOrCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductInfoByNameOrCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseService_InsertPurchaseInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPurchaseInfo" />
  </wsdl:message>
  <wsdl:message name="IPurchaseService_InsertPurchaseInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPurchaseInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IPurchaseService">
    <wsdl:operation name="GetProductInfoByNameOrCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseService/GetProductInfoByNameOrCode" message="tns:IPurchaseService_GetProductInfoByNameOrCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseService/GetProductInfoByNameOrCodeResponse" message="tns:IPurchaseService_GetProductInfoByNameOrCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPurchaseInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseService/InsertPurchaseInfo" message="tns:IPurchaseService_InsertPurchaseInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseService/InsertPurchaseInfoResponse" message="tns:IPurchaseService_InsertPurchaseInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPurchaseService" type="tns:IPurchaseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductInfoByNameOrCode">
      <soap:operation soapAction="http://tempuri.org/IPurchaseService/GetProductInfoByNameOrCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPurchaseInfo">
      <soap:operation soapAction="http://tempuri.org/IPurchaseService/InsertPurchaseInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PurchaseService">
    <wsdl:port name="BasicHttpBinding_IPurchaseService" binding="tns:BasicHttpBinding_IPurchaseService">
      <soap:address location="http://localhost:36659/PurchaseService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>