BussinessSolution/Service References/BS_CommonService/CommonService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:36659/CommonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BussinessSolutionServiceBLL" />
  <xs:element name="GetUnitOfMeasure">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitOfMeasureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BussinessSolutionServiceBLL" minOccurs="0" name="GetUnitOfMeasureResult" nillable="true" type="q1:ArrayOfUnitOfMeasureInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vendorName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BussinessSolutionServiceBLL" minOccurs="0" name="GetVendorInfoResult" nillable="true" type="q2:ArrayOfVendorInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BussinessSolutionServiceBLL" minOccurs="0" name="GetCompanyInfoResult" nillable="true" type="q3:CompanyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>