BussinessSolution/Service References/BS_CommonService/CommonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:36659/CommonService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:36659/CommonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:36659/CommonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BussinessSolutionServiceBLL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommonService_GetUnitOfMeasure_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnitOfMeasure" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetUnitOfMeasure_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnitOfMeasureResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetVendorInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVendorInfo" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetVendorInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVendorInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetCompanyInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyInfo" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetCompanyInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommonService">
    <wsdl:operation name="GetUnitOfMeasure">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/GetUnitOfMeasure" message="tns:ICommonService_GetUnitOfMeasure_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/GetUnitOfMeasureResponse" message="tns:ICommonService_GetUnitOfMeasure_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVendorInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/GetVendorInfo" message="tns:ICommonService_GetVendorInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/GetVendorInfoResponse" message="tns:ICommonService_GetVendorInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/GetCompanyInfo" message="tns:ICommonService_GetCompanyInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/GetCompanyInfoResponse" message="tns:ICommonService_GetCompanyInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICommonService" type="tns:ICommonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUnitOfMeasure">
      <soap:operation soapAction="http://tempuri.org/ICommonService/GetUnitOfMeasure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVendorInfo">
      <soap:operation soapAction="http://tempuri.org/ICommonService/GetVendorInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyInfo">
      <soap:operation soapAction="http://tempuri.org/ICommonService/GetCompanyInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommonService">
    <wsdl:port name="BasicHttpBinding_ICommonService" binding="tns:BasicHttpBinding_ICommonService">
      <soap:address location="http://localhost:36659/CommonService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>